@namespace BlazingPizza.Pages.Shared
@inject HttpClient HttpClient
@using BlazingPizza.Models

<div>
    @* @Pizza.Name *@
</div>

@*the idea here is to show the selected pizza, one of the six specials*@
@code {
    [Parameter]
    public Pizza Pizza
    {
        get; set;
    }
}